# masterMind
Requirements
1. Computer will randomly generate Secret Code
2. Display feedback of player guesses
3. Display players past guesses
4. Player inputs guess to computer
5. Game will error check the player
6. Game will provide a reveal option
7. Output will always displays at all times. 
8. Display Win/Lose at the end of a game.
